# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env
config.py

# 🦀 Dart & Flutter
.dart_tool/
.pub/
build/
*.lock

# 🟢 Node.js
node_modules/
dist/
npm-debug.log
yarn.lock
.env

# 🌐 Web (HTML, CSS, Bootstrap)
*.log
*.cache
.DS_Store
Thumbs.db

# 🐳 Docker e Kubernetes
docker-compose.override.yml
*.dockerignore
.kube/

# 🚀 IDEs e Editores
.vscode/
.idea/
*.iml

# 📸 Imagens geradas
screenshots/
